# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build folders
build/
dist/

# OS files
.DS_Store

# React build
frontend/build/

# Backend dependencies
backend/node_modules/